<h1>Nuevo Producto</h1>
<%= form_for @product do |f| %>
<div>
	<%= f.text_field :name, placeholder: "Nombre del producto" %>
</div>
<div>
	<%= f.text_field :price, placeholder: "Precio del producto" %>
</div>
<div>
	<%= check_box_tag (:perfumes), "1" %>
	<%= label_tag(:perfumes, "Perfumes") %>
</div>
<div>
	<%= check_box_tag (:libros), "2" %>
	<%= label_tag(:libros, "Libros") %>
</div>
<div>
	<%= check_box_tag (:tecnologia), "3" %>
	<%= label_tag(:tecnologia, "Tecnología") %>
</div>
<div>
	<%= check_box_tag (:electrodomesticos), "4" %>
	<%= label_tag(:electrodomesticos, "Electrodomésticos") %>
</div>
<div>
	<%= check_box_tag (:aseo), "5" %>
	<%= label_tag(:aseo, "Aseo") %>
</div>
<div>
	<%= check_box_tag (:juguetes), "6" %>
	<%= label_tag(:juguetes, "Juguetes") %>
</div>
<div>
	<%= check_box_tag (:ropa), "7" %>
	<%= label_tag(:ropa, "Ropa") %>
</div>
<div>
	<%= check_box_tag (:oficina), "8" %>
	<%= label_tag(:oficina, "Oficina") %>
</div>
<div>
	<%= check_box_tag (:mascotas), "9" %>
	<%= label_tag(:mascotas, "Mascotas") %>
</div>
<div>
	<%= f.submit "Publicar Producto" %>
</div>
<% end %> 